pyyaml
dill
psutil
keyring
pillow
paramiko
netifaces-plus
winrt-Windows.Devices.Geolocation; sys_platform == 'win32'
winrt-Windows.Foundation; sys_platform == 'win32'
vt-py
customtkinter
selenium
qbittorrent-api
inputimeout
configobj
browser_cookie3
elevate
tqdm
tomli_w
toml
ping3
python-dateutil
pytz
xmltodict
GitPython
parse-torrent-title
bs4
geopy
mutagen
QuickSocketPY
cpulimiter; sys_platform == 'win32'
pywin32; sys_platform == 'win32'
pybind11-stubgen
requests-cache
diskcache
tenacity
internetarchive
